<div class="friends">
	<div>
		<input id="friend-search" class="friend-search" placeholder="Search Friend..." oninput="search()">
	</div>
	<table>
		<thead>
			<tr>
				<td style="text-align: left; padding-left: 5vw;">User Nickame</td>
				<td>Status</td>
				<td>Ranking</td>
				<td>Score</td>
				<td></td>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>
                    <div class="row">
                        <div class="col-3">
                            <img src="../../../static/img/muhcelik.jpg" class="table-img shadow">
                        </div>
                        <div class="col-3">
                            <p class="table-p mt-2">muhcelik</p>
                        </div>
                    </div>
				</td>
				<td data-status="Online">Online</td>
				<td>5</td>
				<td>123</td>
                <td class="table-button-element">
                    <div class="d-flex justify-content-center">
                        <a href="#" class="cool-btn" role="link" style="max-width: 10em; max-height: 2.3em;">1v1</a>
                    </div>
                </td>
			</tr>
			
			<tr>
				<td>
                    <div class="row">
                        <div class="col-3">
                            <img src="../../../static/img/mucakmak.jpg" class="table-img shadow">
                        </div>
                        <div class="col-3">
                            <p class="table-p mt-2">mucakmak</p>
                        </div>
                    </div>
				</td>
				<td data-status="Online">Online</td>
				<td>1</td>
				<td>590</td>
                <td class="table-button-element">
                    <div class="d-flex justify-content-center">
                        <a href="#" class="cool-btn" role="link" style="max-width: 10em; max-height: 2.3em;">1v1</a>
                    </div>
                </td>
			</tr>
			
			<tr>
				<td>
                    <div class="row">
                        <div class="col-3">
                            <img src="../../../static/img/segurbuz.jpg" class="table-img shadow">
                        </div>
                        <div class="col-3">
                            <p class="table-p mt-2">segurbuz</p>
                        </div>
                    </div>
				</td>
				<td data-status="Offline">Offline</td>
				<td>2</td>
				<td>489</td>
                <td class="table-button-element">
                    <div class="d-flex justify-content-center">
                        <a href="#" class="cool-btn" role="link" style="max-width: 10em; max-height: 2.3em;">1v1</a>
                    </div>
                </td>
			</tr>
			
			<tr>
				<td>
                    <div class="row">
                        <div class="col-3">
                            <img src="../../../static/img/museker.jpg" class="table-img shadow">
                        </div>
                        <div class="col-3">
                            <p class="table-p mt-2">museker</p>
                        </div>
                    </div>
				</td>
				<td data-status="Offline">Offline</td>
				<td>3</td>
				<td>456</td>
                <td class="table-button-element">
                    <div class="d-flex justify-content-center">
                        <a href="#" class="cool-btn" role="link" style="max-width: 10em; max-height: 2.3em;">1v1</a>
                    </div>
                </td>
			</tr>
			
			<tr>
				<td>
                    <div class="row">
                        <div class="col-3">
                            <img src="../../../static/img/ogenc.jpeg" class="table-img shadow">
                        </div>
                        <div class="col-3">
                            <p class="table-p mt-3">ogenc</p>
                        </div>
                    </div>
				</td>
				<td data-status="Offline">Offline</td>
				<td>4</td>
				<td>234</td>
                <td class="table-button-element">
                    <div class="d-flex justify-content-center">
                        <a href="#" class="cool-btn" role="link" style="max-width: 10em; max-height: 2.3em;">1v1</a>
                    </div>
                </td>
			</tr>
		</tbody>
	</table>
</div>