<!--
Twitter: https://twitter.com/tjgillweb
Codepen: https://codepen.io/tjgill/
Github: https://github.com/tjgillweb/
-->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
<h1 class="title">Oyuncu İstatistikleri</h1>
<div class="container">
  <!-- Card stats -->
  <div class="card card-stats">
    <!-- Card body -->
    <div class="card-body">
      <div class="col">
        <h5 class="card-title text-uppercase text-muted">Toplam Oynama</h5>
        <span class="h2 font-weight-bold total_cases color-red count">46</span>
      </div>
      <div class="icon icon-shape bg-gradient-red text-white rounded-circle shadow">
        <i class="fas fa-users"></i>
      </div>
    </div>
  </div>
  <div class="card card-stats">
    <!-- Card body -->
    <div class="card-body">
      <div class="col">
        <h5 class="card-title text-uppercase text-muted">Galibiyet</h5>
        <span class="h2 font-weight-bold deaths color-blue count">31</span>
      </div>
      <div class="icon icon-shape bg-gradient-blue text-white rounded-circle shadow">
        <i class="fas fa-procedures"></i>
      </div>
    </div>
  </div>
  <div class="card card-stats">
    <!-- Card body -->
    <div class="card-body">
      <div class="col">
        <h5 class="card-title text-uppercase text-muted">Maglubıyet</h5>
        <span class="h2 font-weight-bold recovered color-green count">3</span>
      </div>
      <div class="icon icon-shape bg-gradient-green text-white rounded-circle shadow">
        <i class="fas fa-child"></i>
      </div>
    </div>
  </div>
  <div class="card card-stats">
    <!-- Card body -->
    <div class="card-body">
      <div class="col">
        <h5 class="card-title text-uppercase text-muted">Beraberlik</h5>
        <span class="h2 font-weight-bold new_cases color-orange count">12</span>
      </div>
      <div class="icon icon-shape bg-gradient-orange text-white rounded-circle shadow">
        <i class="fas fa-bell"></i>
      </div>
    </div>
  </div>
</div>
<div class="social">
  <ul>
    <li>
      <a href="https://twitter.com/tjgillweb" target="_blank">
        <i class="fab fa-twitter"></i>
      </a>
    </li>
    <li>
      <a href="https://github.com/tjgillweb/" target="_blank">
        <i class="fab fa-github"></i>
      </a>
    </li>
    <li>
      <a href="https://www.linkedin.com/in/taranjot-gill-2704552a/" target="_blank">
        <i class="fab fa-linkedin"></i>
      </a>
    </li>
  </ul>
</div>