<div class="leaderboard">
    <table>
        <thead>
            <tr>
                <td>Ranking</td>
                <td>User Nickname</td>
                <td>Score</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>
                    <img src="../../../static/img/mucakmak.jpg" class="table-img shadow">
                    <p class="table-p">mucakmak</p>
                </td>
                <td>590</td>
            </tr>
            <tr>
                <td>2</td>
                <td>
                    <img src="../../../static/img/segurbuz.jpg" class="table-img shadow">
                    <p class="table-p">segurbuz</p>
                </td>
                <td>489</td>
            </tr>
            <tr>
                <td>3</td>
                <td>
                    <img src="../../../static/img/museker.jpg" class="table-img shadow">
                    <p class="table-p">museker</p>
                </td>
                <td>456</td>
            </tr>
            <tr>
                <td>4</td>
                <td>
                    <img src="../../../static/img/ogenc.jpeg" class="table-img shadow">
                    <p class="table-p">ogenc</p>
                </td>
                <td>234</td>
            </tr>
            <tr>
                <td>5</td>
                <td>
                    <img src="../../../static/img/muhcelik.jpg" class="table-img shadow">
                    <p class="table-p">muhcelik</p>
                </td>
                <td>123</td>
            </tr>
            <tr>
                <td>.</td>
                <td>.</td>
                <td>.</td>
            </tr>

			<tr>
                <td id="yourRank">31</td>
                <td>
                    <img src="../../../static/img/muhcelik.jpg" class="table-img shadow">
                    <p class="table-p">elma</p>
                </td>
                <td>31</td>
            </tr>

        </tbody>
    </table>
</div>
