<div class="match-container">
	<!-- Left Panel -->
	<div class="match-left-panel">
	  <div class="history-header">
		<button class="cool-btn back-button" data-url-path="/statistics">
			<i class="fi fi-br-arrow-left"></i>
		</button>
		<h2>MATCH & TOURNAMENT HISTORIES</h2>
	  </div>
	  <div class="match-tournament-histories">
		<div class="cool-btn match-btn" onclick="selectItem(this)">
		<div class="match-title">Match - 1</div>
		  <div class="match-time">4 Saat Önce</div>
		  <span class="match-score">2 - 4</span>
		</div>
		<div class="cool-btn match-btn" onclick="selectItem(this)">
		  <div class="match-title">Tournament - 1</div>
		  <div class="match-time">12 Saat Önce</div>
		  <span class="match-score">2</span>
		</div>
		<div class="cool-btn match-btn" onclick="selectItem(this)">
			<div class="match-title">Tournament - 1</div>
		  <div class="match-time">2 Gün Önce</div>
		  <span class="match-score">2 - 0</span>
		</div>
		<div class="cool-btn match-btn" onclick="selectItem(this)">
			<div class="match-title">Tournament - 1</div>
		  <div class="match-time">2 Gün Önce</div>
		  <span class="match-score">2 - 2</span>
		</div>
	  </div>
	</div>
  
	<!-- Right Panel -->
	<div class="match-right-panel row">
	  <div class="col match-card" style="margin-right: 1vw;">
		<div class="players-panel">
		  <div class="match-player">
			<img src="../../../static/img/mucakmak.jpg" alt="Player 1" class="table-img square-image">
			<p>mucakmak</p>
		  </div>
		  <div class="match-score-center">
			<h3>2 - 4</h3>
		  </div>
		  <div class="match-player">
			<img src="../../../static/img/museker.jpg" alt="Player 2" class="table-img square-image">
			<p>museker</p>
		  </div>
		</div>
		<div class="graph-panel">
		  <p>Graph</p>
		</div>
		<div class="info-panel">
		  <p>Info</p>
		</div>
	  </div>
  
	  <!-- Second Match Card -->
	  <div class="col match-card">
		<div class="players-panel">
		  <div class="match-player">
			<img src="../../../static/img/mucakmak.jpg" alt="Player 1" class="table-img square-image">
			<p>mucakmak</p>
		  </div>
		  <div class="match-score-center">
			<h3>2 - 4</h3>
		  </div>
		  <div class="match-player">
			<img src="../../../static/img/museker.jpg" alt="Player 2" class="table-img square-image">
			<p>museker</p>
		  </div>
		</div>
		<div class="graph-panel">
		  <p>Graph</p>
		</div>
		<div class="info-panel">
		  <p>Info</p>
		</div>
	  </div>

	  
	</div>
  </div>
  