<div class="matchs-history row">
	<!-- LEFT PANEL -->
	<div class="left-panel-history col-3 scroll">
	  <h3>History Of Played Game</h3>
	  <button
		class="history-item cool-btn"
		style="width: 100%"
		onclick="selectItem(this)"
	  >
		<div class="row">
		  <div class="time col">2 Days ago </div>
		  <div class="col"> Turnuva-1</div>
		</div>
	  </button>
	  <button
		class="history-item cool-btn"
		style="width: 100%"
		onclick="selectItem(this)"
	  >
		Mac-1
	  </button>
	  <button
		class="history-item cool-btn"
		style="width: 100%"
		onclick="selectItem(this)"
	  >
		Mac-1
	  </button>
	</div>
  
	<!-- RIGHT PANEL -->


	<div class="right-panel-history col-9">


		<div class="col">
		  <h2 class="match-id text-center">Turnuva-1 Game Details</h2>
	  
		  <!-- TOP SECTION WITH IMAGES, USERNAMES, AND SCORE -->
		  <div class="match-details-top d-flex justify-content-between align-items-center p-3">
			<div class="match-card">
			  <div class="match-card-image">
				<img src="../../../static/img/mucakmak.jpg" alt="Image" class="img-fluid rounded-circle" width="100">
			  </div>
			  <div class="match-card-username text-center">mucakmak</div>
			</div>
			<div class="match-score display-4 text-center">3-1</div>
			<div class="match-card">
			  <div class="match-card-image">
				<img src="../../../static/img/museker.jpg" alt="Image" class="img-fluid rounded-circle" width="50">
			  </div>
			  <div class="match-card-username text-center">museker</div>
			</div>
		  </div>
	  
		  <!-- BOTTOM SECTION, CURRENTLY EMPTY -->
		  <div class="match-details-bottom bg-light p-3 ">
			
		  </div>
		</div>
	  </div>
</div>
  