<div class="profile-container">
    <div class="profile-header">
        <img src="../../../static/img/museker.jpg" alt="Profile Picture" class="profile-picture">
        <h4>Muhammed Esad Şeker</h4>
        <h5>@museker</h5>
        <div class="d-flex flex-column align-items-center">
            <button class="cool-btn" onclick="toggleEdit(true)" style="width: 100%; max-width: 28vh; margin-bottom: 0;">Edit</button>
            <button class="cool-btn" style="width: 100%; max-width: 28vh; background-color: rgb(228, 92, 92);"> Logout</button>
        </div>
    </div>
    <div class="profile-info">
        <table>
            <tr>
                <th>Username</th>
                <td id="username">museker</td>
            </tr>
            <tr>
                <th>Game Name</th>
                <td id="gamename">peler1nl1kelt0s</td>
            </tr>
            <tr>
                <th>Name</th>
                <td id="name">Muhammed Esad</td>
            </tr>
            <tr>
                <th>Surname</th>
                <td id="surname">Şeker</td>
            </tr>
            <tr>
                <th>Level</th>
                <td id="level">7.68</td>
            </tr>
            <tr>
                <th>Grade</th>
                <td id="grade">Learner</td>
            </tr>
            <tr>
                <th>Campus</th>
                <td id="campus">Istanbul</td>
            </tr>
        </table>
    </div>
</div>
