<div class="stats-container mt-3">
    <!-- Card stats -->
    <div class="stats-cards">

        <!-- Card body -->
        <div class="card">
            <div class="card-body">
                <div class="text-container">
                    <h6 class="card-title">Wins</h6>
                    <span class="card-number">5</span>
                </div>
                <div class="icon-container">
                    <div class="icon icon-shape bg-gradient-red" style="background: linear-gradient(45deg, #FFD700, #FF6347);">
                        <i class="fi fi-br-medal"></i>
                    </div>
                </div>
            </div>
        </div>

        <!-- Card body -->
        <div class="card">
            <div class="card-body">
                <div class="text-container">
                    <h6 class="card-title">Losses</h6>
                    <span class="card-number">20</span>
                </div>
                <div class="icon-container">
                    <div class="icon icon-shape bg-gradient-red" style="background: linear-gradient(45deg, #B22222, #8B0000);">
                        <i class="fi fi-br-skull"></i>
                    </div>
                </div>
            </div>
        </div>

        <!-- Card body -->
        <div class="card">
            <div class="card-body">
                <div class="text-container">
                    <h6 class="card-title">Draws</h6>
                    <span class="card-number">3</span>
                </div>
                <div class="icon-container">
                    <div class="icon icon-shape bg-gradient-red" style="background: linear-gradient(45deg, #FFA500, #FF4500);">
                        <i class="fi fi-br-equality"></i>
                    </div>
                </div>
            </div>
        </div>

        <!-- Card body -->
        <div class="card">
            <div class="card-body">
                <div class="text-container">
                    <h6 class="card-title">Total Number of Games Played</h6>
                    <span class="card-number">28</span>
                </div>
                <div class="icon-container">
                    <div class="icon icon-shape bg-gradient-red" style="background: linear-gradient(45deg, #4682B4, #1E90FF);">
                        <i class="fi fi-br-console-controller"></i>
                    </div>
                </div>
            </div>
        </div>

        <!-- Card body -->
        <div class="card">
            <div class="card-body">
                <div class="text-container">
                    <h6 class="card-title">Longest Winning Streak</h6>
                    <span class="card-number">3</span>
                </div>
                <div class="icon-container">
                    <div class="icon icon-shape bg-gradient-red" style="background: linear-gradient(45deg, #FF4500, #FF8C00);">
                        <i class="fi fi-br-flame"></i>
                    </div>
                </div>
            </div>
        </div>

        <!-- Card body -->
        <div class="card">
            <div class="card-body">
                <div class="text-container">
                    <h6 class="card-title">Win Rate</h6>
                    <span class="card-number">28,57%</span>
                </div>
                <div class="icon-container">
                    <div class="icon icon-shape bg-gradient-red" style="background: linear-gradient(45deg, #32CD32, #228B22);">
                        <i class="fi fi-br-chart-simple"></i>
                    </div>
                </div>
            </div>
        </div>

        <!-- Card body -->
        <div class="card">
            <div class="card-body">
                <div class="text-container">
                    <h6 class="card-title">TOTAL NUMBER OF Tournament PLAYED </h6>
                    <span class="card-number">3</span>
                </div>
                <div class="icon-container">
                    <div class="icon icon-shape bg-gradient-red" style="background: linear-gradient(45deg, #FFD700, #FF6347);">
                        <i class="fi fi-br-trophy-star"></i>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Card body -->
        <div class="card">
            <div class="card-body">
                <div class="text-container">
                    <h6 class="card-title">Player played minutes in total </h6>
                    <span class="card-number">16.33</span>
                </div>
                <div class="icon-container">
                    <div class="icon icon-shape bg-gradient-red" style="background: linear-gradient(45deg, #32c3cd, #22728b);">
                        <i class="fi fi-br-hourglass"></i>
                    </div>
                </div>
            </div>
        </div>

        <!-- Card body -->
        <div class="card">
            <div class="card-body">
                <div class="text-container">
                    <h6 class="card-title">Win Rate Of Tournament </h6>
                    <span class="card-number">28,57%</span>
                </div>
                <div class="icon-container">
                    <div class="icon icon-shape bg-gradient-red" style="background: linear-gradient(45deg, #32CD32, #228B22);">
                        <i class="fi fi-br-chart-simple"></i>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="d-flex justify-content-center mt-2">
    <button class="cool-btn" style="width: 100%; max-width: 28vh; background-color: rgb(23, 194, 194);">Match History</button>
</div>