{% extends "base.html" %}
{% load static %}


<!-- TITLE -->
{% block pageTitle %}
<title>42 PONG • Main Page</title>
{% endblock %}



<!-- CSS FILE -->
{% block cssFile %}<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.3.1/css/all.min.css" rel="stylesheet">
<link href="{% static 'css/mainpage.css' %}" rel="stylesheet"></link>
<link href="{% static 'css/istatistikler.css' %}" rel="stylesheet"></link>
{% endblock %}



<!-- JS FILE -->
{% block jsFile %}

<script src="{% static 'js/mainpage.js' %}"></script>
<script src="{% static 'js/istatistikler.js' %}"></script>
{% endblock %}



<!-- BODY -->
{% block body %}

<!-- SAĞ VE SOL PANELİ BİRBİRİNDEN AYIR -->
<div class="centering-element">
    <!-- SOL PANEL -->
    <div class="left-panel row d-flex justify-content-evenly">
        <!-- TAB BAR -->
        <nav class="nav d-flex justify-content-evenly">
          <a id="anasayfaBTN" href="" class="nav-item is-active" data-target-path="/anasayfa" active-color="orange">Anasayfa</a>
          <a id="siralamaBTN" href="" class="nav-item" data-target-path="/siralama" active-color="green">Sıralama</a>
          <a id="istatistikBTN" href="" class="nav-item" data-target-path="/istatistikler" active-color="blue">İstatistikler</a>
          <a id="arkadaslarBTN" href="" class="nav-item" data-target-path="/arkadaslar" active-color="red">Arkadaşlar</a>
          <a id="profilBTN" href="" class="nav-item" data-target-path="/profil" active-color="rebeccapurple">Profil</a>
          <span class="nav-indicator"></span>
        </nav>

        <!-- DEGISECEK ALAN -->
        <div id="content" class="content rounded">

        </div>
    </div>

    <!-- SAĞ PANEL -->
    <div class="right-panel row d-flex justify-content-evenly">
            <!-- CARD START -->
            <div class="card card-stats">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase mb-0">mucakmak</h5>
                      <span class="h5 font-weight-bold mb-0">Level 1</span>
                      <span class="h5 font-weight-bold mb-0">-</span>
                      <span class="h5 font-weight-bold mb-0">%59</span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape text-white rounded-circle shadow">
                        <img src="{% static 'img/mucakmak.jpg' %}" alt="intra-image" class="card-image">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <!-- CARD FINISH -->

            <!-- CHAT -->
            <div class="chat-panel"></div>


    </div>
</div>

{% endblock %}