/* TAB BAR CSS */
@import url("https://fonts.googleapis.com/css?family=DM+Sans:500,700&display=swap");
.center-panel {
  text-align: center;
  display: -webkit-box;
  display: flex;
  height: 100vh;
  width: 100%;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  padding: 0 20px;
}

.nav {
  display: -webkit-inline-box;
  display: inline-flex;
  position: relative;
  overflow: hidden;
  max-width: 100%;
  background-color: rgb(24, 26, 27);
  padding: 0 20px;
  height: 54px;
  width: 50vw;
  border-radius: 20px;
  box-shadow: 0 10px 5px rgba(0, 0, 0, 0.2);
}

.nav-item {
  color: #7b7a80;
  padding: 15px;
  text-decoration: none;
  -webkit-transition: .1s;
  transition: .1s;
  margin: 0 6px;
  z-index: 1;
  /*font-family: 'DM Sans', sans-serif;*/
  font-weight: 500;
  position: relative;
}
.nav-item:before {
    content: "";
    position: absolute;
    bottom: -6px;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: rgb(157, 157, 163); /* Bu varsayılan rengi kontrol edin */
    border-radius: 8px 8px 0 0;
    opacity: 0;
    transition: .1s;
  }
  
  .nav-item.is-active:before {
    opacity: 1;
    bottom: 0;
    background-color: inherit; /* Aktif öğe rengini kullan */
  }
.nav-item:not(.is-active):hover:before {
  opacity: 1;
  bottom: 0;
}

.nav-item:not(.is-active):hover {
  color: rgb(157, 157, 163);
}

.nav-indicator {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 4px;
  -webkit-transition: .4s;
  transition: .4s;
  height: 5px;
  z-index: 1;
  border-radius: 8px 8px 0 0;
}

@media (max-width: 580px) {
  .nav {
    overflow: auto;
  }
}


/* CONTENT CSS */
.centering-element {
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
  height: 100vh;
}

.left-panel {
  height: 90vh;
  width: 60vw;
  margin: 0 auto;
}

.right-panel {
  height: 90vh;
  width: 21vw;
}

.content {
    padding: 25px 4 0px 25px; /* top, right-left, bottom*/
    height: 65vh;
    justify-self: center;
    width: 60vw;
    /*background-color: rgba(46, 139, 86, 0.281);*/
}


/* CARD CSS */
.card.card-stats {
  height: 54px;
  display: flex;
  align-items: center;
  width: 260px;
  border-radius: 20px;
  background-color: rgb(24, 26, 27);
  border: none;
  box-shadow: 0 10px 5px rgba(0, 0, 0, 0.2);
}

.col {
  text-align: right;
}

.card-body {
  padding: 0 1rem; /* Reduce padding */
  display: flex;
  align-items: center;
}

.card-body .row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  text-align: right;
}

.card-title {
  font-size: .7875rem; /* Smaller font size */
  margin: 0;
  color: #9f9d98;
  line-height: 1.2; /* Adjusted line-height */
  text-align: right;
  letter-spacing: .1rem;
}

.h5.font-weight-bold {
  color: #dbdad7;
  font-size: .6875rem; /* Smaller font size */
  margin: 0;
  line-height: 1.2; /* Adjusted line-height */
  text-align: right;
}

.icon-shape {
  display: flex;
  padding: 0; /* Remove padding for the image */
  align-items: center;
  justify-content: center;
  background-color: transparent; /* Remove background color */
}

.icon-shape i {
  font-size: 1rem; /* Adjusted icon size */
}

.card-image {
  width: 100%; /* Ensures the image fills the container */
  height: 100%; /* Ensures the image fills the container */
  object-fit: cover; /* Covers the container while keeping the aspect ratio */
  image-rendering: -webkit-optimize-contrast; /* Improves image rendering */
  image-rendering: crisp-edges; /* For sharp edges */
  border-radius: 50%; /* Keeps the image circular */
}

.icon {
  width: 45px; /* Adjust to fit the new image */
  height: 45px; /* Adjust to fit the new image */
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden; /* Ensures the image doesn't overflow the container */
}


/* CHAT CSS */
.chat-panel {
  height: 65vh;
  width: 18vw;
  background-color: rgba(44, 44, 44, 0.5);
  border-radius: 10px 10px 10px 10px; 
}


/* BUTON  CSS */
.cool-btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 56px;
  padding: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: #fff;
  /*font-family: "Rowdies", sans-serif;*/
  color: #111;
  font-size: 18px;
  letter-spacing: 1px;
  text-decoration: none;
  border-radius: 10px;
  border: none;
  transition: all 300ms;
  box-shadow: 0 10px 5px rgba(0, 0, 0, 0.2);
}

.cool-btn:hover {
  background-color: transparent;
  color: #fff;
  border-radius: 10px;
}

.cool-btn::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: transparent;
  border: 3px solid #fff;
  transform: scale(1.1, 1.3);
  opacity: 0;
  transition: all 500ms;
}

.cool-btn:hover::after {
  transform: scale(1, 1);
  opacity: 1;
}

.cool-btn:active {
  transform: scale(.9);
}