/* Genel Ayarlar */
*, *::before, *::after {
  box-sizing: border-box;
}

/* Başlıklar */
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-family: inherit;
  font-weight: 700;
  color: #e0e1dd;
  margin: 0;
}

/* Renk Sınıfları */
.text-muted {
  color: #8898aa !important;
}

.text-uppercase {
  text-transform: uppercase !important;
}

.text-white {
  color: #fff !important;
}

/* Gölge ve Kenar Yuvarlama */
.shadow {
  box-shadow: 0 0 2rem 0 rgba(136, 152, 170, 0.50) !important;
}

.rounded-circle {
  border-radius: 50% !important;
}

/* Font Ağırlığı */
.font-weight-bold {
  font-weight: 700 !important;
}

/* Konteyner */
.container-custom {
  width: 320px;
  height: auto;
  background: #0d1b2a;
  border-radius: 10px;
  padding: 10px;
}

/* Başlık */
.title-custom {
  font-size: 1.4rem;
  font-weight: 700;
  text-align: center;
  margin: 1rem 0;
}

/* Kolon */
.col-custom {
  max-width: 100%;
  flex-basis: 0;
  flex-grow: 1;
}

/* Kart */
.card-custom {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  border: 1px solid rgba(0, 0, 0, 0.05);
  background-color: #415a77; /* #415a77 rengi düzeltildi */
  background-clip: border-box;
  border: 0;
  box-shadow: 0 0 2rem 0 rgba(136, 152, 170, 0.15);
  border-radius: 15px;
  margin: 10px;
}

.card-body-custom {
  min-height: 1px;
  padding: 1.5rem;
  display: flex;
  padding: 1rem 1.5rem;
  border-radius: 15px;
}

.card-body-custom .h2 {
  font-size: 2rem;
}

/* Simge */
.icon-custom {
  width: 4rem;
  height: 4rem;
  max-width: 100%;
  flex: 0 0 auto;
}

.icon-shape-custom {
  display: inline-flex;
  padding: 12px;
  text-align: center;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}

.icon-shape-custom i,
.icon-shape-custom svg {
  font-size: 2rem;
}

/* Arka Plan Renkleri */
.bg-gradient-red-custom {
  background: linear-gradient(87deg, #f5365c 0, #f56036 100%) !important;
}

.bg-gradient-blue-custom {
  background: linear-gradient(87deg, #11cdef 0, #1171ef 100%) !important;
}

.bg-gradient-green-custom {
  background: linear-gradient(87deg, #2dce89 0, #2dcecc 100%) !important;
}

.bg-gradient-orange-custom {
  background: linear-gradient(87deg, #fb6340 0, #fbb140 100%) !important;
}

/* Sosyal Medya */
@media (min-width: 767px) {
  .social-custom {
    position: absolute;
    right: 0;
    top: 33.33%;
  }
  .social-custom ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .social-custom ul li {
    margin: 5px 10px;
  }

  .social-custom ul li a {
    color: #403f4c;
    font-size: 25px;
    height: 50px;
    width: 50px;
    text-decoration: none;
  }

  .social-custom ul li a:hover {
    color: #272523;
  }
}
