.left-panel-history {
    height:65vh;
    background-color: #000000;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.matchs-history h3 {
    margin-top: 0;
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    color: white;
}

.matchs-history h2 {
    margin-top: 0;
    text-align: center;
    font-weight: bold;
    color: white;
}



.right-panel-history {
	height: 65vh;
	background-color: #000000;
	padding: 15px;
	border-radius: 10px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  .match-id {
	color: white;
	font-weight: bold;
	margin-bottom: 20px;
  }
  .match-details-top {
	background-color: #ffc107;
	border-radius: 10px;
	padding: 15px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  .match-card {
	display: flex;
	flex-direction: column;
	align-items: center;
  }
  .match-card-image img {
	width: 50px;
	height: 50px;
	object-fit: cover;
	margin-bottom: 10px;
	margin-left: 100px;
	margin-right: 100px;
  }
  .match-card-username {
	font-weight: bold;
	align-items: center;
  }
  .match-score {
	color: black;
	font-weight: bold;
  }
  
  .match-details-bottom {
	height: 60%;
	background-color: #f8f9fa;
	border-radius: 10px;
	margin-top: 20px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
.left-panel-history .time {
    margin-top: 0;
    text-align: center;
    font-size: 1em;
    color: gray;
}

.left-panel .new-cool {
    background-color: transparent;
    color: white;
    border: 3px solid #fff;
}


.left-panel .scroll {
    max-height: 65vh;
    word-wrap: break-word;
    overflow-y: auto;
}




::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {    
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
